@import "ngx-toastr/toastr";


$primary: #2871c4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(42, 42, 42);
}

.flex{
    display: flex;
    
    &-center{
      @extend .flex;
      align-items: center;
      justify-content: center;
    }

    &-column{
        @extend .flex;
        flex-direction: column;
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
